<div class="container m-4 ">
    <div class="row">
        <div class="col">
            <div class=" d-flex justify-content-start">
                <div>
                    <h4>The First Heading </h4>
                </div>
                <div class="text-secondary">
                    <h4> Will catch your eye</h5>
                </div>
            </div>
            <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla recusandae placeat ratione obcaecati
                    laudantium dolores ut! Impedit, nam! Odio vero quae deleniti, corporis blanditiis fugiat tempore
                    consequatur quidem nulla ea gsuiwha?</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img src="https://i.blogs.es/09b4aa/17_walt75/150_150.jpg" alt="imagen breaking bad animada">
            </div>
        </div>
    </div>
</div>

<div class="container m-6 ">
    <div class="row">
        <div class="col">
            <div class=" d-flex justify-content-start">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxGtL_JEUWCvPr5Z3Ep02KJvYMsA2uUuYzJw&s" alt="imagen teclado">
                </div>
                
            </div>
        </div>
        <div class="col">
           <div class="d-flex justify-content-start">
            <div>
                <h4>The second Heading  </h4>
            </div>
            <div class="text-secondary">
                <h4>  is pretty cool too</h5>
            </div>
            </div>
            <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla recusandae placeat ratione obcaecati
                    laudantium dolores ut! Impedit, nam! Odio vero quae deleniti, corporis blanditiis fugiat tempore
                    consequatur quidem nulla ea?</p>
            </div>
        </div>
    </div>
</div>